.events {
    font-family: inherit;
}

.event-grid-container {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
    position: relative;
    background-color: transparent;
    box-shadow: 5px 5px 20px rgba(38, 38, 38, 0.2);
    background-color: white;
}

.event-grid-container:last-child {
    margin-bottom: 0px;
}

.event-flexbox {
    display: flex;
    align-items: stretch;
}

.event-flexbox>img {
    max-width: 50%;
    object-fit: cover;
    height: auto;
    display: block;
    flex: 1;
}

.event-grid-unit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 1.5rem;
}

.event-info-cont {
    text-align: left;
}

.event-info-cont h4 {
    margin: 1rem 0;
    font-weight: 900;
}

.event-btn {
    align-self: center;
    padding: .5rem 1rem;
    border-radius: 12px;
    border: none;
    background-color: #9fa9a3;
    cursor: pointer;
    transition: 300ms;
}

.event-btn>a {
    text-decoration: none;
    color: white;
}

.event-btn:hover {
    background-color: #7c837f;
}

@media only screen and (max-width: 550px) {
    .event-grid-container {
         margin: 20px 20px;
     }
 
     .event-flexbox {
         flex-direction: column;
     }

     .event-flexbox img {
        max-width: 100%;
        height: auto;
     }

     .event-btn {
        margin: 1rem 0 0 0;
     }
 }
